<div class="row">
  <div class="col-md-6">{{ form.first_name }}</div>
  <div class="col-md-6">{{ form.last_name }}</div>
</div>
{% if form.first_name.errors %}
  <div class="text-danger mt-1">{{ form.first_name.errors }}</div>
{% endif %}
{% if form.last_name.errors %}
  <div class="text-danger mt-1">{{ form.last_name.errors }}</div>
{% endif %}


{{ form.email }}
{% if form.email.errors %}
  <div class="text-danger mt-1">{{ form.email.errors }}</div>
{% endif %}

{{ form.interests }}
{% if form.interests.errors %}
  <div class="text-danger mt-1">{{ form.interests.errors }}</div>
{% endif %}

{{ form.agreed_to_poicies }}
{% if form.agreed_to_poicies.errors %}
  <div class="text-danger mt-1">{{ form.agreed_to_poicies.errors }}</div>
{% endif %}
